.bg-falar {
  background-color: #6F00B4;
}

.ms-houver:hover{
  cursor: pointer;
}
.text-falar {
  color: #6F00B4;
}

.btn-falar {
  color: #fff !important;
  background-color: #6F00B4 !important;

}

.btn-outline-falar{color:#6F00B4 !important; border: solid 1px #6F00B4 !important}
.btn-outline-falar:hover{color:#fff !important;background-color:#6F00B4 !important;
}
.table.dataTable thead {
  background-color: #6F00B4
}

table.dataTable th {
  background-color: #6F00B4;
  color: #fff
}

table.dataTable td {
  color: black
}

table.dataTable.display tbody tr:hover {
  cursor: pointer;
}
table.dataTable.display tbody tr.odd > .sorting_1 {
  background-color: transparent;
}

table.dataTable.display tbody tr.odd {
  background-color: #fff;
}

table.dataTable.display tbody tr.even > .sorting_1 {
  background-color: transparent;
}

table.dataTable.display tbody tr.even {
  background-color: #f38c0054;
}

.tabela-campos th {
  padding: 5px;
}

.tabela-campos tr > td {
  padding: 5px;
}